<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Creat Idea Page</title>
    <link rel="stylesheet" href="stylesheets/createidea.css">
  </head>
  <body>

    <center>
      <h1>
        BRANCH
      </h1>
    </center>

    {% include 'taskbar.html' %}

    <br>
    <br>

    <center>
      <div class="lineSeparator"></div>

      <h2>New Tree</h2>

      <div class="lineSeparator"></div>
    </center>

    <br>

    {% include 'form.html' %}

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

      </div>

      <div class="clear"></div>

    </form>

    <img src="http://www.clker.com/cliparts/2/0/0/9/1197089211475574592Chrisdesign_Tree_silhouettes_5.svg.hi.png" width="100">

  </body>
</html>
