<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Creat Idea Page</title>
    <link rel="stylesheet" href="stylesheets/createidea.css">
  </head>
  <body>

    <center>
      <h1>
        BRANCH
      </h1>
    </center>

    {% include 'taskbar.html' %}

    <center>
    <h2>New Idea</h2>
    </center>

    <br>
    <br>
    <br>

    <form  method="post" action="/create">
      <center>
        <div class="block">
          <textarea name="title" placeholder="What's it called?"></textarea>
        </div>
      </center>
      <br>
      <br>
      <div class="block1">
      <textarea name="text" placeholder="Tell us more!"></textarea>
      </div>
      <div class="block2">
      <textarea name="reference" placeholder="References or questions go here"></textarea>
      <br>
      <br>
      <button>Post it</button>
      </div>
      <div class="clear"></div>

    </form>

  </body>
</html>
