<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Form Template</title>
    <link rel="stylesheet" href="stylesheets/form.css">
  </head>
  <body>

    <form  method="post" action="/create">
      <input hidden name="key" type="text" value = "{{key}}">
      <center>
        <div class="block">
          <textarea name="title" placeholder="What's it called?"></textarea>
          <br>
          <br>
          <textarea name="description" placeholder="Short Description"></textarea>
        </div>
      </center>

      <br>
      <br>
      <div class="block1">
        <textarea name="text" placeholder="Tell us more!"></textarea>
      </div>
      <div class="block2">
        <textarea name="reference" placeholder="References or questions go here"></textarea>
      <br>
      <br>
      </div>

      <div class="clear"></div>

      <center>
        <button>Grow</button>
      </center>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

    </form>

  </body>
</html>
