<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="stylesheets/home.css">
  </head>
  <body>
    <center>
    <h1>
      BRANCH
    </h1>
    </center>



    <!-- <nav>
      <div class="bar">
        <div class="dropdown">
          <a class="dropbtn" href="/">Home</a>
        </div>
        <div class="dropdown">
          <a class="dropbtn" href="/create">Create Your Own</a>
        </div>
        <div class="dropdown">
          <a class="dropbtn" href="/idea">Your Ideas</a>
        </div>
      </div>
    </nav> -->

  <!-- <div class="dropdown">
    <button class="dropbtn">Dropdown</button>
    <div class="dropdown-content">
      <a href="">Link 1</a>
      <a href="">Link 2</a>
      <a href="">Link 3</a>
    </div>
  </div> -->

  </body>
</html>
