<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="stylesheets/home.css">

  </head>
  <body>
    <center>
      <h1>
        BRANCH
      </h1>
    </center>

    <ul>
      <li><a class="home" href="/">Home</a></li>
      <li><a class="create" href="/create">Create Idea</a></li>
      <li class="dropdown1">
        <a href="/ulist" class="dropbtn1">Your Current Ideas</a>

        <!-- <div class="dropdown-content1">
          <a href="/idea">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
         -->
      <li><a class="list" href="/list">Other Ideas</a></li>
      </li>
      <li class="clear"></li>
    </ul>

    <br>
    <br>

    <center>
      <img src="http://www.clker.com/cliparts/2/0/0/9/1197089211475574592Chrisdesign_Tree_silhouettes_5.svg.hi.png">
    </center>

    <center>
      <h2>Where Am I?</h2>
      <p>
        Hey! You just entered Branch. As the giant logo indicates. Branch helps
        to organize your thought process when making your ideas come to life.
      </p>
    </center>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

  </body>
</html>
