<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Idea Page</title>
    <link rel="stylesheet" href="stylesheets/idea.css">
  </head>
  <body>

    <center>
      <h1>
        BRANCH
      </h1>
    </center>

    <ul>
      <li><a class="home" href="/">Home</a></li>
      <li><a class="create" href="/create">Create Idea</a></li>
      <li class="dropdown1">
        <a href="/idea" class="dropbtn1">Your Current Ideas</a>
        <div class="dropdown-content1">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </li>
    </ul>

    <br>
    <br>

    <h1>{{idea.title}}</h1>


      <h2>Leave a comment</h2>

      <form action='/idea' method='post'>
        <br>
        <textarea name='text' placeholder="What do you think?" ></textarea>
        &nbsp
        <button>Let 'Em Know</button>
        <br>
        <br>
      </div>
      {% for comment in comments %}
        <div class="dialogbox">
          <div class="body">
            <span class="tip tip-right"></span>
            <div class="message">
                <article>
                  {{comment.name}}:
                  <br>
                  {{comment.text}}
                  <div class='date'>({{comment.date}})</date>
                  <br>
                  <br>
                </div>
            </div>
          </div>
        </div>
      {% endfor %}

  </body>
</html>
