<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index Page</title>

    <link href='http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="stylesheets/reset.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/index.css">
    <script src="js/animate.js"></script>
  </head>
  <body>

    <center>
      <h1>
        BRANCH
      </h1>
    </center>

{% include 'taskbar.html' %}
    <!-- <ul>
      <li><a class="home" href="/">Home</a></li>
      <li><a class="create" href="/create">Create A Tree</a></li>
      <li><a href="/ulist" class="dropbtn1">Branches</a></li>
      <li><a class="tree" href="/treelist">Trees</a></li>
      <li><a class="update" href="/update?key={{key}}">Update</a></li>
      <li class="clear"></li>
      </ul> -->

    <section id="cd-timeline" class="cd-container">
      {% for idea in ideas %}
  		<div class="cd-timeline-block">
  			<div class="cd-timeline-img cd-picture">
  			</div>

  			<div class="cd-timeline-content">
  				<a href="{{idea.url()}}"><h2>{{ idea.title}}</h2></a>
          <p>{{idea.description}}</p>
  				<span class="cd-date">{{idea.date.strftime('%B %d, %Y')}}</span>
  			</div>
  		</div>
      {% endfor %}
  	</section>

    {% include 'form.html' %}

    <br>
    <br>
    <br>

    <img src="http://www.clker.com/cliparts/2/0/0/9/1197089211475574592Chrisdesign_Tree_silhouettes_5.svg.hi.png" width="100">

  </body>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="js/main.js"></script>

</html>
