<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Creat Idea Page</title>
    <link rel="stylesheet" href="stylesheets/createidea.css">
    <link rel="icon" type="image/png" href="tree.ico" />
  </head>
  <body>

    <center>
      <h1>
        BRANCH
      </h1>
    </center>

    {% include 'taskbar.html' %}

    <br>
    <br>

    <form  method="post" action="/create">
      <center>
        <div class="block">
          <textarea name="title" placeholder="Title goes here"></textarea>
        </div>
      </center>
      <br>
      <br>
      <div class="block1">
      <textarea name="text" placeholder="What is your idea?"></textarea>
      </div>
      <div class="block2">
      <textarea name="reference" placeholder="References go here"></textarea>
      <br>
      <br>
      <button>Post it</button>
      </div>
      <div class="clear"></div>
    </form>

  </body>
</html>
