<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>List of Ideas Page</title>
    <link rel="stylesheet" href="stylesheets/list.css">
  </head>
  <body>

    <center>
      <h1>
        BRANCH
      </h1>
    </center>

    <ul>
      <li><a class="home" href="/">Home</a></li>
      <li><a class="create" href="/create">Create Idea</a></li>
      <li class="dropdown1">
        <a href="/idea" class="dropbtn1">Your Current Ideas</a>
        <div class="dropdown-content1">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </li>
    </ul>
    
    <br>

    {% for idea in ideas %}
      <center>
        <a class="listOfIdeas" href="{{idea.url()}}">{{idea.title}}</a>
      </center>
    {% endfor %}


  </body>
</html>
