<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign In Page</title>
    <link rel="stylesheet" href="stylesheets/signin.css">
  </head>

  <body>

    <center>
      <h3>
        Plant a seed
      </h3>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

      <a href="/" class="myButton">Sign In</a>
    </center>

  </body>
</html>
