<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign In Page</title>
    <link rel="stylesheet" href="stylesheets/signin.css">
    <link rel="icon" type="image/png" href="tree.ico" />
  </head>

  <body>

    <center>
      <h3>
        Plant a seed
      </h3>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

      <a href="/home" class="myButton">Sign In With Google</a>
    </center>

  </body>
</html>
