<ul>
  <li><a class="home" href="/home">Home</a></li>
  <li><a class="create" href="/create">Create A Tree</a></li>
  <li class="dropdown1">
    <!-- <a href="/list" class="dropbtn1">Branches</a> -->

    <!-- <div class="dropdown-content1">
      <a href="/idea">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
     -->
  <li><a class="list" href="/ulist">Your Trees</a></li>
  <li><a class="tree" href="/treelist">All Trees</a></li>

  </li>
  <li class="clear"></li>
</ul>
