<ul>
  <li><a class="home" href="/">Home</a></li>
  <li><a class="create" href="/create">Create Idea</a></li>
  <li class="dropdown1">
    <a href="/ulist" class="dropbtn1">Your Current Ideas</a>

    <!-- <div class="dropdown-content1">
      <a href="/idea">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
     -->
  <li><a class="list" href="/list">Other Ideas</a></li>
  <li><a class="tree" href="/treelist">Trees</a></li>

  </li>
  <li class="clear"></li>
</ul>
