<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>List of Trees Page</title>
    <link rel="stylesheet" href="stylesheets/list.css">
  </head>
  <body>

    <center>
      <h1>
        BRANCH
      </h1>
    </center>

    {% include 'taskbar.html' %}
    
    <br>

    <center>
      <div class="lineSeparator"></div>

      <h2>Pick A Tree</h2>

      <div class="lineSeparator"></div>
    </center>

    <br>

    {% for tree in trees %}
      <center>
        <div>

          <a href={{tree.url()}}>{{tree.title}}</a>

          <div class="lineSeparator2"></div>

        </div>
      </center>
    {% endfor %}

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <img src="http://www.clker.com/cliparts/2/0/0/9/1197089211475574592Chrisdesign_Tree_silhouettes_5.svg.hi.png" width="100">


  </body>
</html>
