body {
  background-image: url("https://wallpaperscraft.com/image/background_faded_stains_light_47125_3840x2400.jpg");
}

h1 {
  font-family: "lucida grande";
  font-size: 100px;
  color: white;
  margin: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a, .home, .create, .dropbtn1 {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "lucida grande";
}

li a:hover, .dropdown1:hover .dropbtn1 {
  background-color: #FF8562;
}

li.dropdown1 {
  display: inline-block;
}

.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 178px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content1 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content1 a:hover {
  background-color: #f1f1f1
}

.dropdown1:hover .dropdown-content1 {
  display: block;
}

.block textarea {
  width: 350px;
  height: 25px;
}

.block1 textarea {
  width: 400px;
  height: 150px;
}

.block2 textarea {
  width: 400px;
  height: 150px;
}

::-webkit-input-placeholder {
   font-size: 15px;
   font-family: "lucida grande";
}

:-moz-placeholder { /* Firefox 18- */
   font-size: 15px;
   font-family: "lucida grande";
}

::-moz-placeholder {  /* Firefox 19+ */
   font-size: 15px;
   font-family: "lucida grande";
}

:-ms-input-placeholder {
   font-size: 15px;
   font-family: "lucida grande";
}

button {
  font-family: "lucida grande";
  width: 100px;
}

.block1, .block2 div {

}

.block1 {
  float: left;
  margin-left: 250px;
  margin-right: 100px;
}

.block2 {
  float:left;
  margin-left:;
}

div .clear {
  clear: both;
}

textarea {
  resize: none;
}
