body {
  background-image: url("https://wallpaperscraft.com/image/background_faded_stains_light_47125_3840x2400.jpg");
}

h1 {
  font-family: "lucida grande";
  font-size: 100px;
  color: white;
  margin: 20px;
}
