body {
  background-image: url("https://wallpaperscraft.com/image/background_faded_stains_light_47125_3840x2400.jpg");
}

/* Give the body a width */

/*body {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}*/

h1 {
  font-family: monaco;
  font-size: 100px;
  color: white;
  margin: 20px;
}

/* Dropdown Button */
/*.dropbtn {
  background-color: #3E5459;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: papyrus;
}

/* The container <div> - needed to position the dropdown content */
/*.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 50px;
}

/* Dropdown Content (Hidden by Default) */
/*.dropdown-content {
  display: none;
  position: absolute;
  background-color: #F4F7FF;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
/*.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
/*.dropdown-content a:hover {
  background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
/*.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
/*.dropdown:hover .dropbtn {
  background-color: #3E5459;
}*/

/* Make the nav take up the whole body width, and give it some top and bottom margin space */

nav div {
  width: 100%;
  margin: 20px 0;
  font-family: papyrus;
}

/* Make the list of links take up the whole width of the nav */

nav div {
  width: 100%;
}

nav div {

  width: 20%; }

nav div a {
  display: block;
  width: 100%;
}

nav div {
  width: 100%; /* from above */
  list-style: none;
  margin: 0;
  padding: 0;
}

nav div {
  width: 100%; /* from above */
  list-style: none;
  margin: 0;
  padding: 0;
}

nav div {
  width: 20%; /* from above */
  float: left;
}

nav div a{
  text-decoration: none;
}
